# See http://help.github.com/ignore-files/ for more about ignoring files.

# license files
*.cfg

# response file that was required when doing a silent install
response.properties

# Sub folders (for now decided to include the data folder which holds the initial MongoDB data)
/data 

# Binaries to be left out (tar.gz and response files except for sample)
*.tar.gz
*.bin
*.log
logs/.prodpas.agent.2024-06-24.log.swp
logs/catalina.out
logs/hchost_access_log.2024-07-01.txt
logs/hchost_access_log.2024-07-02.txt
logs/hchost_access_log.2024-07-08.txt
logs/hchost_access_log.2024-07-10.txt
logs/startupErrors.txt
